tmp
logs
.env
venv
*.pyc

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
make-dataset/node_modules
make-dataset/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
make-dataset/coverage

# next.js
make-dataset/.next/
make-dataset/out/

# production
make-dataset/build

# misc
.DS_Store
make-dataset/*.pem

# debug
make-dataset/npm-debug.log*
make-dataset/yarn-debug.log*
make-dataset/yarn-error.log*

# env files (can opt-in for commiting if needed)
make-dataset/.env

# vercel
make-dataset/.vercel

# typescript
make-dataset/*.tsbuildinfo
make-dataset/next-env.d.ts


make-dataset/exported-datasets

*.pem
terraform-ec2/.terraform
terraform-ec2/.terraform.lock.hcl
terraform-ec2/terraform.tfstate
terraform-ec2/terraform.tfstate.backup
terraform-ec2/readme.md
terraform-ec2/setup_ec2.yml
terraform-ec2/inventory.ini
terraform-ec2/ec2.yml

docker-compose-all.yml

*.sqlite

/pihr-autoquery/kb